<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjhcsoft.icrm.sale.mapper.SaleMethodMapper" >
  <resultMap id="BaseResultMap" type="com.zjhcsoft.icrm.sale.domain.SaleMethod" >
    <id column="ROW_ID" property="rowId" jdbcType="VARCHAR" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LAST_PERSON" property="lastPerson" jdbcType="VARCHAR" />
    <result column="LAST_DATE" property="lastDate" jdbcType="TIMESTAMP" />
    <result column="SALE_METHOD_NAME" property="saleMethodName" jdbcType="VARCHAR" />
    <result column="METHOD_DESC" property="methodDesc" jdbcType="VARCHAR" />
    <result column="STS" property="sts" jdbcType="INTEGER" />
    <result column="STS_DATE" property="stsDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROW_ID, CREATE_PERSON, CREATE_DATE, LAST_PERSON, LAST_DATE, SALE_METHOD_NAME, METHOD_DESC, 
    STS, STS_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from crm_sale_method
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from crm_sale_method
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zjhcsoft.icrm.sale.domain.SaleMethod" >
    insert into crm_sale_method (ROW_ID, CREATE_PERSON, CREATE_DATE, 
      LAST_PERSON, LAST_DATE, SALE_METHOD_NAME, 
      METHOD_DESC, STS, STS_DATE
      )
    values (#{rowId,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastPerson,jdbcType=VARCHAR}, #{lastDate,jdbcType=TIMESTAMP}, #{saleMethodName,jdbcType=VARCHAR}, 
      #{methodDesc,jdbcType=VARCHAR}, #{sts,jdbcType=INTEGER}, #{stsDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjhcsoft.icrm.sale.domain.SaleMethod" >
    insert into crm_sale_method
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        ROW_ID,
      </if>
      <if test="createPerson != null" >
        CREATE_PERSON,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="lastPerson != null" >
        LAST_PERSON,
      </if>
      <if test="lastDate != null" >
        LAST_DATE,
      </if>
      <if test="saleMethodName != null" >
        SALE_METHOD_NAME,
      </if>
      <if test="methodDesc != null" >
        METHOD_DESC,
      </if>
      <if test="sts != null" >
        STS,
      </if>
      <if test="stsDate != null" >
        STS_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPerson != null" >
        #{lastPerson,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saleMethodName != null" >
        #{saleMethodName,jdbcType=VARCHAR},
      </if>
      <if test="methodDesc != null" >
        #{methodDesc,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        #{sts,jdbcType=INTEGER},
      </if>
      <if test="stsDate != null" >
        #{stsDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjhcsoft.icrm.sale.domain.SaleMethod" >
    update crm_sale_method
    <set >
      <if test="createPerson != null" >
        CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPerson != null" >
        LAST_PERSON = #{lastPerson,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        LAST_DATE = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saleMethodName != null" >
        SALE_METHOD_NAME = #{saleMethodName,jdbcType=VARCHAR},
      </if>
      <if test="methodDesc != null" >
        METHOD_DESC = #{methodDesc,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        STS = #{sts,jdbcType=INTEGER},
      </if>
      <if test="stsDate != null" >
        STS_DATE = #{stsDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjhcsoft.icrm.sale.domain.SaleMethod" >
    update crm_sale_method
    set CREATE_PERSON = #{createPerson,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      LAST_PERSON = #{lastPerson,jdbcType=VARCHAR},
      LAST_DATE = #{lastDate,jdbcType=TIMESTAMP},
      SALE_METHOD_NAME = #{saleMethodName,jdbcType=VARCHAR},
      METHOD_DESC = #{methodDesc,jdbcType=VARCHAR},
      STS = #{sts,jdbcType=INTEGER},
      STS_DATE = #{stsDate,jdbcType=TIMESTAMP}
    where ROW_ID = #{rowId,jdbcType=VARCHAR}
  </update>
</mapper>