.msg {
	padding: 4px 4px 4px 24px;
	font-size: 12px;
	line-height: 16px;
	color: #404040;
	background-color: #FFFFE5;
	border: 1px solid #FFCC7F;
	overflow: hidden;
	zoom: 1;
	display: inline-block;
	zoom: 1;
	*display: inline
}

.msg-b {
	padding: 9px 9px 9px 50px;
	font-size: 14px;
	line-height: 16px;
	color: #404040;
	background-color: #FFFFE5;
	border: 1px solid #FFCC7F;
	overflow: hidden;
	zoom: 1
}

.msg-inline {
	display: inline-block;
	zoom: 1;
	*display: inline
}

.msg-b .msg-vm,.msg-b-weak .msg-vm {
	padding-top: 7px
}

.msg-b .msg-middle {
	padding-top: 7px
}

.msg-ok,.msg-b-ok {
	background-color: #F0FFE5;
	border-color: #4DBF00
}

.msg-error,.msg-stop,.msg-b-error,.msg-b-stop {
	background-color: #FFF2F2;
	border-color: #FF8080
}

.msg-attention,.msg-b-attention {
	background-color: #E5F5FF;
	border-color: #40B3FF
}

.msg-weak {
	padding: 5px 5px 5px 25px;
	font-size: 12px;
	line-height: 16px;
	color: #404040;
	background: 0 0;
	border: 0
}

.msg i,.msg-weak i {
	display: inline;
	float: left;
	margin-left: -20px;
	width: 16px;
	height: 16px;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1g3uoXdpQXXXXXXXX-60-280.png)
		no-repeat 0 -160px
}

.msg-b-weak {
	padding: 10px 10px 10px 46px;
	font-size: 14px;
	line-height: 16px;
	color: #404040;
	background: 0 0;
	border: 0
}

.msg-b i,.msg-b-weak i {
	display: inline;
	float: left;
	margin-left: -41px;
	width: 32px;
	height: 32px;
	background:
		url(http://img01.taobaocdn.com/tps/i1/T1g3uoXdpQXXXXXXXX-60-280.png)
		no-repeat 100% -160px
}

.msg-ok {
	
}

.msg-ok i {
	background-position: 0 -200px
}

.msg-error {
	
}

.msg-error i {
	background-position: 0 0
}

.msg-stop {
	
}

.msg-stop i {
	background-position: 0 -40px
}

.msg-question {
	
}

.msg-question i {
	background-position: 0 -80px
}

.msg-notice {
	
}

.msg-notice i {
	background-position: 0 -240px
}

.msg-attention {
	
}

.msg-attention i {
	background-position: 0 -120px
}

.msg-tips {
	
}

.msg-tips i {
	background-position: 0 -160px
}

.msg-b-ok {
	
}

.msg-b-ok i {
	background-position: 100% -200px
}

.msg-b-error {
	
}

.msg-b-error i {
	background-position: 100% 0
}

.msg-b-stop {
	
}

.msg-b-stop i {
	background-position: 100% -40px
}

.msg-b-question {
	
}

.msg-b-question i {
	background-position: 100% -80px
}

.msg-b-notice {
	
}

.msg-b-notice i {
	background-position: 100% -240px
}

.msg-b-attention {
	
}

.msg-b-attention i {
	background-position: 100% -120px
}

.msg-b-tips {
	
}

.msg-b-tips i {
	background-position: 100% -160px
}

.ks-popupmenu {
	background: #fff;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
	cursor: default;
	margin: 0;
	outline: 0;
	padding: 0;
	position: absolute;
	z-index: 99999;
	left: -9999px;
	top: -9999px
}

.ks-popupmenu-shown {
	visibility: visible
}

.ks-popupmenu-hidden {
	visibility: hidden
}

.ks-menuitem {
	color: #404040;
	list-style: none;
	margin: 0;
	font-size: 12px;
	line-height: 18px;
	padding: 1px 0 2px 2px;
	white-space: nowrap
}

.ks-menuitem-disabled .ks-menuitem-content {
	color: #ccc !important
}

.ks-menuitem-highlight,.ks-menuitem-hover {
	background-color: #39F;
	color: #fff
}

.ks-combobox {
	display: inline-block;
	overflow: hidden;
	zoom: 1;
	*display: inline
}

.ks-combobox-trigger {
	text-decoration: none;
	color: #000;
	float: right;
	text-align: center;
	border-left: 1px solid #b5b6b5
}

.ks-combobox-trigger-inner {
	float: left;
	line-height: 18px;
	height: 18px;
	margin: 0 4px;
	vertical-align: middle
}

.ks-combobox-input-wrap {
	overflow: hidden;
	vertical-align: middle;
	position: relative
}

.ks-menuitem-disabled {
	color: gray
}

body,div,table,h1,h2,h3,h4,h5,h6,ul,ol,li,p,dl,dt,dd,th,td,form,fieldset
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse
}

pre,code {
	white-space: pre;
	font-family: "Courier New", Courier, monospace
}

li {
	list-style: none
}

em {
	font-style: normal
}

img,object {
	border: 0;
	outline: 0
}

a img {
	vertical-align: top
}

abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,menu,nav,output,progress,section,video
	{
	display: block;
	margin: 0;
	padding: 0
}

body {
	color: #333;
	font: 400 12px/1.6 arial, sans-serif
}

.form-box select {
	width: 150px
}

.item {
	padding-left: 135px;
	padding-bottom: 10px;
	zoom: 1;
	position: relative
}

.item-label {
	display: inline;
	float: left;
	width: 130px;
	margin-left: -135px;
	text-align: right;
	height: 26px;
	line-height: 26px
}

.item-label i {
	color: red;
	font-style: normal
}

.item-set-default {
	line-height: 26px
}

.item-title {
	line-height: 26px
}

.item-title .item-label {
	color: #fc6210
}

.tip-town {
	display: none;
	width: 235px;
	height: 18px;
	line-height: 18px;
	padding: 0 2px;
	position: absolute;
	background-color: #FFF;
	border: 1px solid #fec3a8;
	color: red;
	left: 0;
	top: -22px;
	zoom: 1
}

.tip-town i {
	display: block;
	width: 11px;
	height: 6px;
	background: url(../images/arr-down.png) no-repeat 0 0;
	position: absolute;
	left: 20px;
	top: 18px
}

.showib {
	display: inline-block;
	zoom: 1;
	*display: inline
}

.i-text {
	border: 1px solid #afafaf;
	padding: 3px;
	width: 200px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle
}

.i-text-short {
	width: 65px
}

.i-chk,label {
	vertical-align: middle
}

.input-err {
	border-color: #ff8380
}

.i-ta {
	display: block;
	width: 420px;
	height: 48px;
	margin: 0;
	border: 1px solid #afafaf;
	padding: 3px;
	font-size: 12px
}

.ph {
	font-size: 12px;
	color: #bbb
}

.msg,.msg-weak {
	vertical-align: middle
}

.msg-tit {
	font-size: 16px;
	padding-bottom: 8px
}

.msg-cnt {
	font-size: 12px
}

.global-msg {
	margin: 10px
}

.btn {
	padding: 4px 12px;
	font-size: 14px;
	border: 1px solid #b2d0e4;
	border-radius: 3px;
	background-color: #fefefe;
	cursor: pointer
}

.hide {
	display: none
}

a {
	color: #36c
}

a:hover {
	color: #f60
}

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0
}